* {
    font-size: 8pt;
    line-height: 150%;
    margin: 0px;
}

aside {
    height: 100vh;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #34ace0;
    color: white;
}

main {
    margin-left: 25%;
}

/* Name */
h1 {
    padding: 5px;
    font-size: 16pt;
    font-weight: 650;
}

/* Personal Info, Skills */
h2 {
    background-color: #227093;
    padding: 3px 5px 3px 5px;
    font-size: 10pt;
    margin: 0;
}

h3 {
    padding: 1px 5px;
    font-size: 9pt;
}

h4, h5, h6 {
    font-size: 8pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px;
}

aside li {
    padding-top: 3px;
}